<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor preview</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Create centered canvas full screen -->
    <canvas id="canvas"></canvas>
    <script>
        // Create canvas
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        

        var data = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

        //Render the canvas
        function render() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            //Change draw color to red
            ctx.strokeStyle = "black";
            ctx.fillStyle = 'orange';
            ctx.beginPath();

            //Render numbers from datta array around the circle
            var circleRadius = canvas.width/2.1;
            if (circleRadius > canvas.height/2.1) {
                circleRadius = canvas.height/2.1;
            }
            var fontSize = circleRadius/10;
            var dataSize = circleRadius/1200

            ctx.arc(canvas.width/2, canvas.height/2, circleRadius, 0, 2 * Math.PI);
            ctx.stroke();

            for (var i = 0; i < data.length; i++) {
                ctx.moveTo(canvas.width/2, canvas.height/2);
                ctx.beginPath();
                var angle = -1 * (i / data.length) * 2 * Math.PI - Math.PI/2;
                var x = canvas.width/2 + 0.5 * circleRadius * Math.cos(angle) - fontSize/2;
                var y = canvas.height/2 + 0.5 * circleRadius * Math.sin(angle) + fontSize/2;
                angle -= Math.PI / data.length;

                //Draw appropriate line from the center with the same length as the data array
                ctx.moveTo(canvas.width/2, canvas.height/2);
                x = canvas.width/2 + dataSize * data[i] * Math.cos(angle);
                y = canvas.height/2 + dataSize * data[i] * Math.sin(angle);
                ctx.lineTo(x, y);
                ctx.arc(canvas.width/2, canvas.height/2, dataSize * data[i], angle, angle + Math.PI / data.length * 2);
                ctx.lineTo(canvas.width/2, canvas.height/2);
                ctx.fill();
                ctx.stroke();
            }

            
            ctx.font = fontSize + "px Arial";
            ctx.strokeStyle = "black";
            ctx.fillStyle = 'black';
            for (var i = 0; i < data.length; i++) {
                var angle = -1 * (i / data.length) * 2 * Math.PI - Math.PI/2;
                var x = canvas.width/2 + 0.5 * circleRadius * Math.cos(angle) - fontSize/2;
                var y = canvas.height/2 + 0.5 * circleRadius * Math.sin(angle) + fontSize/2;
                ctx.fillText(data[i], x, y);
            }
        }

        function sensorDataUpdate(){
            var xhr = new XMLHttpRequest();
                xhr.open("GET", "./update", true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        data = JSON.parse(xhr.responseText);
                        console.log(data);
                        render();
                    }
                };
                xhr.send();
        }

        window.onload = function() {
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
            //Fetch data every 100ms from ./update endpoint
            setInterval(function() {
                sensorDataUpdate();
            }, 50);
        }

        window.onresize = function() {
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
            render();
        }
    </script>
</body>
</html>