<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone GUI</title>
    <link rel="stylesheet" href="static/indexStyle.css">
    <link rel="stylesheet" href="./static/loader.css">


	<!--Bootstrap-->
    <link rel="stylesheet" href="./static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./static/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./static/bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./static/bootstrap/bootstrap-utilities.min.css">
	<script src="./static/bootstrap/bootstrap.min.js"></script>

</head>
<body>
<div id="mainContainer", class="mainContainer row h-100">
    <div class="col-md-6 h-100" style="padding: 0%">
        <div class="row h-50">
            <div class="col-sm-4 h-100">
                
                <div class="buttonPanel">
                    
                    <button type="button" class="btn btn-success", onclick='sendSingleCommand("takeoff")'>Vzlétnout</button>
                    <button type="button" class="btn btn-primary" onclick='sendSingleCommand("land")'>Přistát</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#controlPanelModal" onclick="enableDirectControl()">Převzít kontrolu</button>
                    <button type="button" class="btn btn-danger" onclick="stopProgram()">⚠Ukončit</button>
                </div>
            </div>
            <div class="col-sm-8" style="padding: 0px">
                <img src="{{ url_for('video_feed') }}">
            </div>
        </div>
        <div class="row h-50">
            <iframe src="./sensors" title="Sensors" style="width: 100%; height: 100%" frameBorder="0"></iframe>
        </div>
    </div>
    <div class="col-md-6 h-100" style="padding: 0%">
        <iframe src="./static/blockly/index.html?lang=cs" title="Blockly" style="width: 100%; height: 100%" frameBorder="0"></iframe>
    </div>
</div>

<div class="loading" id="loader">Loading&#8230;</div>
</body>

<script>  
window.addEventListener('load', function () {
	document.getElementById("loader").style.opacity = 0;
	document.getElementById("loader").style.visibility = "hidden";
	document.getElementById("mainContainer").style.opacity = 1;
})
</script>

</html>